<div class="container" id="form">
	<div id="items">
		<h3>Ta liste de Noël</h3><br>
		<div>
			<div class="form-group" id="title">
				<input type="text" placeholder="Ton prénom" class="form-control" [(ngModel)]="title">
			</div>
			<div class="form-group" id="content" *ngFor="let gift of giftList; let i = index;">
				<input type="text" [(ngModel)]="giftList[i].idea" placeholder="Idée de cadeau..."
					class="form-control">
				<button class="btn btn-sm btn-danger" (click)="onDeleteIdea(i)">Supprimer</button>
			</div>
			<button class="btn btn-sm btn-warning" (click)="onAddIdea()">Ajouter une idée</button>
			<br><br><br>
			<div id="button">
				<button class="btn btn-success" (click)="onFormValid()">Poster !</button>
				<button class="btn btn-danger" style="margin-left: 20px;" type="reset">Supprimer</button>
			</div>
		</div>
		<p class="text-danger">{{ errorMessage }}</p>
	</div>
</div>