<div class="container" id="form">
	<div id="items">
		<h2>Modify Your Post</h2><br>
		<form [formGroup]="updatePostForm" (ngSubmit)="onUpdateForm()">
			<div class="form-group" id="title">
				<input type="text" class="form-control" formControlName="title">
			</div>
			<div class="form-group" id="content">
				<textarea type="text" class="form-control" formControlName="content"></textarea>
			</div>
			<div id="button">
				<button class="btn btn-success" type="submit" [disabled]="updatePostForm.invalid">Update</button>
				<button class="btn btn-danger" style="margin-left: 20px;" type="reset">Cancel</button>
			</div>
		</form>
		<p class="text-danger">{{ errorMessage }}</p>
	</div>
</div>
