<div id="post_container">
	<div class="list-group-item">
		<h1 id="post_title">{{ post.title }}</h1>
		<p id="post_date">{{ post.date | date : 'short' }}</p>
		<div id="post_content" *ngFor="let gift of post.list">
			<p>{{ gift }}</p>
		</div>
		<fa-icon id="postLike" (click)="onLike(post.id)" class="likebuttons btn btn-outline-primary"
			[icon]="faThumbsUp">
		</fa-icon><span> {{ post.likes }}</span>
		<fa-icon id="postDislike" style="margin-left: 20px;" (click)="onDislike(post.id)"
			class="likebuttons btn btn-outline-danger" [icon]="faThumbsDown"></fa-icon><span>
			{{ post.dislikes }}</span>
		<br>
		<button class="btn btn-outline-danger" (click)="onDelete(post)">Supprimer la liste</button>
	</div><br>
	<div id="footer">
		<Button class="btn btn-lg btn-primary" (click)="goBack()">Retourner à l'accueil</Button>
	</div>
</div>
